---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About Me - Muhammad Wasif">
  <main>
    <p>
      I started programming at the age of 15. After getting my hands dirty with
      many languages, TypeScript & JavaScript became my primary programming
      language. I have always been very enthusiastic about what I can build with
      what I know.
    </p>
    <p>
      After creating many tools and fun websites and apps, I took part in <a
        href="https://codein.withgoogle.com/archive/"
        target="_blank">Google Code-in 2019</a
      >, which is an open source coding competition by Google. Students from 76
      countries took part and I was selected as Runner Up by <a
        href="https://fossasia.org/"
        target="_blank">FOSSASIA</a
      > for remarkable contributions in their open source projects.
    </p>
    <p>
      Then I started freelancing and built hundreds of websites, apps & tools as
      part of freelance projects. I got opportunity to work on various modern
      technologies and on variety of projects during freelancing, all until the age of 19.
    </p>
    <p>At the age of 19, I started my career as Jr. Software Developer at Ideofuzion, where I worked on wide range of projects. I have always been among the active contributors & participants in any project I worked on.</p>
    <p>Besides programming, I spend my time reading books (mainly poetry), exploring art & philosophy.</p>
  </main>
</Layout>

<style>
  p {
    max-width: 90ch;
    color: var(--color);
  }
  p a {
    color: var(--primary);
  }
  @media (max-width: 450px) {
    p {
      font-size: small;
    }
   }

 
</style>
