---
import Layout from "../layouts/Layout.astro";
import Experience from "../components/Card.astro";
---

<Layout title="Experience - Muhammad Wasif">
  <main>
    <h2>
      I've started companies and worked in engineering at several startups.
    </h2>
    <p>
      When I was 15, my technical blog was growing fast, and getting hundreds of
      thousands of readers around the world. That was the point when recruiters
      from various companies started reaching out. I loved startups because of
      the fast-growing culture and ability to make a large impact, so I started
      by working for a few. Now, I've started my own companies, and continue to
      work fulltime in engineering too.
    </p>

    <Experience
      title="Ideofuzion (Pvt.) Ltd."
      description="When I was 15, my technical blog was growing fast, and getting hundreds of thousands of readers around the world. That was the point when recruiters from various companies started reaching out. I loved startups because of the fast-growing culture and ability to make a large impact, so I started"
      subtitle="Sept. 2021 - Present"
      link="https://fossasia.org/"
      image="./images/ideofuzion.jpeg"
      linkText="Visit website"
    />

    <Experience
      title="FOSSASIA"
      description="When I was 15, my technical blog was growing fast, and getting hundreds of thousands of readers around the world. That was the point when recruiters from various companies started reaching out. I loved startups because of the fast-growing culture and ability to make a large impact, so I started"
      subtitle="Dec. 2019 - Feb. 2020"
      link="https://fossasia.org/"
      image="./images/fossasia.jpeg"
      linkText="Visit website"
    />

  </main>
</Layout>

<style>
  P {
    margin-bottom: 2rem;
  }
</style>