---
import Layout from "../layouts/Layout.astro";
import Experience from "../components/ExperienceCard.astro";
---

<Layout title="Experience - Muhammad Wasif">
    <main>
        <h2>I have more than 4 years of experience of working on applications with diverse domains</h2>
        <p style="max-width: 80ch;">
            I value clarity, maintainability, and practical solutions over over-engineering, and I enjoy building things
            that actually get used. </p>

        <Experience
                title="Amjeo Studio"
                description="At Amjeo Studio, my responsibilities include designing and developing solutions for applications using appropriate technologies that are scalable. Majorly worked on building the backend services for application with 10k+ active users while also maintaining the front end codebase."
                subtitle="May 2024 - Present"
                image="/images/amjeo.svg"
                links={[{text: "Visit website", href: "https://www.amjeo.com/"}]}
        />

        <Experience
                title="Ideofuzion (Pvt.) Ltd."
                description="During my tenure at Ideofuzion as a Full Stack Developer, I have worked with a diverse range of technologies, specializing in Web3 development. I have built decentralized applications (DApps), NFT marketplaces, and various other blockchain-powered solutions. My expertise includes using TypeScript to develop front-end applications with React and Next.js, building scalable back-end APIs with NestJS, and creating immersive experiences on Decentraland using the DCL SDK and JavaScript physics engines."
                subtitle="Sept. 2021 - April 2024"
                image="/images/ideofuzion.jpeg"
                links={[{text: "Visit website", href: "https://ideofuzion.com/"}]}
        />

        <Experience
                title="FOSSASIA"
                description="During Google Code-in 2019, I worked with FOSSASIA to improve open-source projects by identifying and fixing issues. Over two months, I contributed to various enhancements and was honored as a Runner-Up. It was an incredible experience being part of a global competition with students from 76 countries—and I was proud to be the first Pakistani student to achieve this title!."
                subtitle="Dec. 2019 - Feb. 2020"
                image="/images/fossasia.jpeg"
                links={[
                    {
                        text: "View Google code-in winners list",
                        href: "https://codein.withgoogle.com/archive/2019/",
                    },
                    {
                        href: "https://www.dropbox.com/s/rg2s4ikqeib2dxh/GCI%202019%20Certificate%206571372227067904.pdf?dl=0",
                        text: "View certificate",
                    },
                ]}
        />
    </main>
</Layout>

<style>
    h2 {
        color: var(--color);
    }

    P {
        margin-bottom: 2rem;
        color: var(--color);
    }
</style>
