---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
---

<Layout title="Muhammad Wasif - Software Developer, Google Code-in 2019 Runner Up">
  <main>
    <h1>Hello, I am <span class="text-gradient">Wasif</span></h1>
    <div class="text-container">
      <p class="description">
        I am a software developer. Most of my work experience is in web but I
        have always been open to explore different domains.
      </p>
      <p class="description">
        I started programming at the age of 15. I like to build cool stuff with
        what I know. My primary weapon is JavaScript & TypeScript. I love to
        work in an open envirnmoent where everyone can share ideas and
        contribute in the development of a product. <br />
      </p>
      <p class="description">
        Besides programming, I am a fan of literature, art, poetry and
        philosophy. I consider Allama Iqbal my <i>murshid</i>.
      </p>
    </div>
    <a href="/about">
      <Button variant="primary">About me</Button>
    </a>
    <a href="/experience">
      <Button>Experience</Button>
    </a>
  </main>
</Layout>

<style>
  .text-container {
    max-width: 60ch;
  }
  h1 {
    font-size: calc(2rem + 1vw);
    font-weight: 800;
    margin: 0;
    color: var(--color);
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .description {
    color: var(--color);
  }

  .ml-1 {
    margin-inline-start: 1rem;
  }
</style>
