---
---

<section class="palestine-banner">
    <p>
        <b>Israel</b> is brutally killing children in <b>Gaza</b>. Raise your
        voice against genocide! 🇵🇸
    </p>
    <div class="links">
        <a
            target="_blank"
            href="https://www.islamic-relief.org.uk/giving/appeals/palestine/pray-for-palestine/"
            >Donate for Palestine</a
        >
        <a
            target="_blank"
            href="https://www.aljazeera.com/news/2023/10/9/whats-the-israel-palestine-conflict-about-a-simple-guide"
            >Understand conflict</a
        >
    </div>
</section>

<style>
    .palestine-banner {
        background: red;
        padding: 8px;
        text-align: center;
        font-family: system-ui, sans-serif;
        display: inline-flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .links {
        margin-inline-start: 1rem;
    }
    p {
        font-size: 16px;
        color: white;
        margin: 0;
    }
    .links a {
        margin: 0 4px;
        color: #FAF9FB !important;
        text-decoration: underline !important;
    }

    @media (max-width: 870px) {
        .palestine-banner {
            flex-direction: column;
        }
    }
</style>
