---
---

<section class="palestine-banner">
    <p>
        <b>Israel</b> is brutally killing children in <b>Gaza</b>. Raise your
        voice against genocide! 🇵🇸
    </p>
    <div class="links-p">
        <a
            target="_blank"
            href="https://www.islamic-relief.org.uk/giving/appeals/palestine/pray-for-palestine/"
            >Donate for Palestine</a
        >
        <a
            target="_blank"
            href="https://www.aljazeera.com/news/2023/10/9/whats-the-israel-palestine-conflict-about-a-simple-guide"
            >What's going on?</a
        >
    </div>
</section>

<style>
    .palestine-banner {
        background: rgb(37, 36, 36);
        padding: 8px 0;
        text-align: center;
        font-family: system-ui, sans-serif;
        display: inline-flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .links-p {
        margin-inline-start: 1rem;
    }
    p {
        font-size: 16px;
        color: white;
        margin: 0;
    }
    .links-p a {
        margin: 0 4px;
        color: #faf9fb !important;
        text-decoration: underline !important;
    }

    @media (max-width: 870px) {
        .palestine-banner {
            flex-direction: column;
        }

        p {
            font-size: 12px;
        }
        .links-p {
            margin-inline-start: 0rem;
        }
        .links-p a {
            font-size: 12px;

        }
    }
</style>
